.contact-page {
  background: black;
  width: 100%;
  height: 100%;
  color: white;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
  .content-container {
    padding: 90px 100px;
  }
  .form-body-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
  }

  //
  //contact-form 3d image section
  //
  .contact-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    // border: 1px solid red;
    padding-top: 100px;
  }
  .img {
    width: 80%;
    height: 40%;
  }

  // form-icons
  .form-image-icons {
    position: relative;
    width: 22px;
    height: 22px;
  }

  // icons individual styling
  // circles
  .form-icon1 {
    left: -180px;
    top: -10px;
    color: aqua;
  }
  .form-icon2 {
    right: -140px;
    bottom: -20px;
    width: 17px;
    height: 17px;
    color: aqua;
  }
  // squre
  .form-icon3 {
    right: -80px;
    top: -50px;
    color: blueviolet;
  }
  // triangle
  .form-icon4 {
    right: -200px;
    top: 18px;
    color: #0bbeec;
  }
  // star
  .form-icon5 {
    left: -160px;
    bottom: -60px;
    color: #0bbeec;
  }

  //
  // form container
  //
  .form-container {
    text-align: center;
    .form {
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h2 {
        font-size: 16px;
        text-transform: capitalize;
        color: white;
        text-align: start;
        position: absolute;
        bottom: 30px;
        right: 30px;
        cursor: default;
      }
      & > * {
        margin-bottom: 10px;
      }
    }
    .textArea {
      resize: none;
      font-size: 15px;
      line-height: 1.5;
      display: block;
      height: 150px;
      padding: 0 10px 0 20px;
      font-family: 'Lato', sans-serif;
      padding: 0 10px 0 15px;
      border: none;
      background-color: black;
      border-bottom: 1px solid white;
      outline: none;
      color: white;
    }
    input {
      font-size: 15px;
      line-height: 1.5;
      display: block;
      height: 50px;
      padding: 0 10px 0 15px;
      border: none;
      outline: none;
      background-color: black;
      border-bottom: 1px solid white;
      color: white;
    }
    ::placeholder {
      color: grey;
      opacity: 1;
    }
    button {
      margin-top: 10px;
      border: none;
      outline: none;
      height: 50px;
      border-radius: 999px;
      width: 40%;
      font-size: 16px;
      font-weight: 900;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
    .error {
      color: crimson;
      text-align: start;
    }
  }
}
