.landing-page {
  background: black;
  width: 100%;
  height: 100%;
  color: white;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;

  .content-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-row: 2/3;

    // call to action section
    .cta-container {
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      padding-left: 120px;
      padding-top: 160px;
      h1 {
        font-size: 82px;
        word-spacing: -8px;
      }
      .cta {
        background: $primary-color;
        border-radius: 99px;
        padding: 15px;
        width: 250px;
        margin-top: 18px;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        &:hover {
          color: black;
        }
      }
    }

    // project card section
    .project-card-container {
      grid-column: 2/3;
      display: grid;
      grid-template-columns: 4% 86% 10%;
      .project-card {
        grid-column: 2/3;
        display: flex;
        padding-top: 20px;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
        & > * {
          flex: 1;
        }
      }
      .card {
        height: 100%;
        position: relative;
        cursor: pointer;
        transition: all 1s;
        $parent: &;

        // all 3 cards linear border styling
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(transparent, white, transparent);
          width: 2px;
          height: 90%;
        }

        // 1st card
        &:nth-child(1) {
          transform: translateY(20px);
          &::before {
            transform: translateY(-105px);
          }
          &:hover {
            & > .card-content {
              background-image: radial-gradient(
                circle at -80px -120px,
                $primary-color,
                transparent 80%
              );
            }
          }
        }

        // 2nd card
        &:nth-child(2) {
          transform: translateY(-30px);
          &::before {
            height: 90%;
            transform: translateY(-68px);
          }
          &:hover {
            & > .card-content {
              background-image: radial-gradient(
                circle at -80px -120px,
                $primary-color,
                transparent 80%
              );
            }
          }
        }

        // 3rd card
        &:nth-child(3) {
          transform: translateY(50px);
          &::before {
            transform: translateY(-35px);
          }
          &::after {
            content: '';
            position: absolute;
            transform: translateY(-125px);
            top: 0;
            right: 0;
            background: linear-gradient(transparent, white, transparent);
            width: 2px;
            height: 120%;
          }
          &:hover {
            & > .card-content {
              background-image: radial-gradient(
                circle at -80px -120px,
                $primary-color,
                transparent 80%
              );
            }
          }
        }
      }
      .card-content {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 15px;
        background-image: radial-gradient(circle at -80px -120px, $primary-color, transparent 62%);
        & > * {
          margin-bottom: 10px;
        }
        .card-heading {
          color: $primary-color;
          font-size: 16px;
        }
        .card-subheading {
          font-weight: 900;
          font-size: 23px;
        }
        .card-body {
          color: grey;
          line-height: 22px;
        }
      }
    }
  }
}
