.project-page {
  background: black;
  width: 100%;
  height: 100%;
  color: white;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: fixed;
  overscroll-behavior-y: contain;
  user-select: none;

  .container {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  .deck {
    position: absolute;
    width: 500px;
    height: 500px;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
    transform: translateY(50px);
    margin-bottom: 50px;
  }

  .deck > .cards {
    background-color: white;
    color: black;
    width: 45vh;
    max-width: 300px;
    height: 95vh;
    max-height: 585px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 13px 10px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 20% 10%;
    text-align: center;
    .card-image-container {
      grid-row: 1/2;
      background-size: 100% 100%;
    }
    .card-body-container {
      grid-row: 2/3;
      padding: 10px 12px 0;
      h2 {
        text-transform: uppercase;
        margin-bottom: 5px;
        color: $primary-color;
      }
      p {
        text-align: start;
        color: grey;
        text-transform: capitalize;
      }
    }

    .card-btn-container {
      display: flex;
      grid-row: 3/4;
      & > a {
        width: 100%;
        height: 100%;
        padding: 17px;
        font-size: 15px;
        &:hover {
          color: $primary-color;
          cursor: pointer;
        }
      }
      & > a:nth-child(1) {
        border-right: 2px solid grey;
      }
      & > * {
        flex: 1;
        border: none;
        outline: 0;
        background-color: $primary-color;
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-weight: 900;
      }
    }
  }
}
