@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@import 'reset';
@import 'variables';
@import 'header';
@import 'landingPage';
@import 'contactPage';
@import 'projectPage';
@import 'aboutPage';

.noice {
  width: 100vw;
  height: 100vh;
  background: rgb(14, 42, 71);
  background: linear-gradient(225deg, rgba(14, 42, 71, 1) 0%, rgba(88, 14, 66, 1) 100%);
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
  color: white;
}
