@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  padding: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.header .heading {
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 900;
}

.header .heading:hover {
  color: #517ade;
}

.header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  font-size: 16px;
}

.header .links > * {
  margin-left: 15px;
}

.header .links > *:hover {
  color: #517ade;
}

.header .active {
  color: #517ade;
}

.landing-page {
  background: black;
  width: 100%;
  height: 100%;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow: hidden;
}

.landing-page .content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.landing-page .content-container .cta-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 120px;
  padding-top: 160px;
}

.landing-page .content-container .cta-container h1 {
  font-size: 82px;
}

.landing-page .content-container .cta-container .cta {
  background: #517ade;
  border-radius: 99px;
  padding: 15px;
  width: 250px;
  margin-top: 18px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.landing-page .content-container .cta-container .cta:hover {
  color: black;
}

.landing-page .content-container .project-card-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4% 86% 10%;
      grid-template-columns: 4% 86% 10%;
}

.landing-page .content-container .project-card-container .project-card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.landing-page .content-container .project-card-container .project-card img {
  display: block;
  width: 100%;
  height: auto;
}

.landing-page .content-container .project-card-container .project-card > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.landing-page .content-container .project-card-container .card {
  height: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.landing-page .content-container .project-card-container .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(white), to(transparent));
  background: linear-gradient(transparent, white, transparent);
  width: 2px;
  height: 90%;
}

.landing-page .content-container .project-card-container .card:nth-child(1) {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.landing-page .content-container .project-card-container .card:nth-child(1)::before {
  -webkit-transform: translateY(-105px);
          transform: translateY(-105px);
}

.landing-page .content-container .project-card-container .card:nth-child(1):hover > .card-content {
  background-image: radial-gradient(circle at -80px -120px, #517ade, transparent 80%);
}

.landing-page .content-container .project-card-container .card:nth-child(2) {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.landing-page .content-container .project-card-container .card:nth-child(2)::before {
  height: 90%;
  -webkit-transform: translateY(-68px);
          transform: translateY(-68px);
}

.landing-page .content-container .project-card-container .card:nth-child(2):hover > .card-content {
  background-image: radial-gradient(circle at -80px -120px, #517ade, transparent 80%);
}

.landing-page .content-container .project-card-container .card:nth-child(3) {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.landing-page .content-container .project-card-container .card:nth-child(3)::before {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

.landing-page .content-container .project-card-container .card:nth-child(3)::after {
  content: '';
  position: absolute;
  -webkit-transform: translateY(-125px);
          transform: translateY(-125px);
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(white), to(transparent));
  background: linear-gradient(transparent, white, transparent);
  width: 2px;
  height: 120%;
}

.landing-page .content-container .project-card-container .card:nth-child(3):hover > .card-content {
  background-image: radial-gradient(circle at -80px -120px, #517ade, transparent 80%);
}

.landing-page .content-container .project-card-container .card-content {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px;
  background-image: radial-gradient(circle at -80px -120px, #517ade, transparent 62%);
}

.landing-page .content-container .project-card-container .card-content > * {
  margin-bottom: 10px;
}

.landing-page .content-container .project-card-container .card-content .card-heading {
  color: #517ade;
  font-size: 16px;
}

.landing-page .content-container .project-card-container .card-content .card-subheading {
  font-weight: 900;
  font-size: 23px;
}

.landing-page .content-container .project-card-container .card-content .card-body {
  color: grey;
  line-height: 22px;
}

.contact-page {
  background: black;
  width: 100%;
  height: 100%;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow: hidden;
}

.contact-page .content-container {
  padding: 90px 100px;
}

.contact-page .form-body-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
}

.contact-page .contact-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  padding-top: 100px;
}

.contact-page .img {
  width: 80%;
  height: 40%;
}

.contact-page .form-image-icons {
  position: relative;
  width: 22px;
  height: 22px;
}

.contact-page .form-icon1 {
  left: -180px;
  top: -10px;
  color: aqua;
}

.contact-page .form-icon2 {
  right: -140px;
  bottom: -20px;
  width: 17px;
  height: 17px;
  color: aqua;
}

.contact-page .form-icon3 {
  right: -80px;
  top: -50px;
  color: blueviolet;
}

.contact-page .form-icon4 {
  right: -200px;
  top: 18px;
  color: #0bbeec;
}

.contact-page .form-icon5 {
  left: -160px;
  bottom: -60px;
  color: #0bbeec;
}

.contact-page .form-container {
  text-align: center;
}

.contact-page .form-container .form {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-page .form-container .form h2 {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-align: start;
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: default;
}

.contact-page .form-container .form > * {
  margin-bottom: 10px;
}

.contact-page .form-container .textArea {
  resize: none;
  font-size: 15px;
  line-height: 1.5;
  display: block;
  height: 150px;
  padding: 0 10px 0 20px;
  font-family: 'Lato', sans-serif;
  padding: 0 10px 0 15px;
  border: none;
  background-color: black;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
}

.contact-page .form-container input {
  font-size: 15px;
  line-height: 1.5;
  display: block;
  height: 50px;
  padding: 0 10px 0 15px;
  border: none;
  outline: none;
  background-color: black;
  border-bottom: 1px solid white;
  color: white;
}

.contact-page .form-container ::-webkit-input-placeholder {
  color: grey;
  opacity: 1;
}

.contact-page .form-container :-ms-input-placeholder {
  color: grey;
  opacity: 1;
}

.contact-page .form-container ::-ms-input-placeholder {
  color: grey;
  opacity: 1;
}

.contact-page .form-container ::placeholder {
  color: grey;
  opacity: 1;
}

.contact-page .form-container button {
  margin-top: 10px;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 999px;
  width: 40%;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

.contact-page .form-container button:hover {
  color: #517ade;
}

.contact-page .form-container .error {
  color: crimson;
  text-align: start;
}

.project-page {
  background: black;
  width: 100%;
  height: 100%;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow: hidden;
  position: fixed;
  overscroll-behavior-y: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.project-page .container {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-page .deck {
  position: absolute;
  width: 500px;
  height: 500px;
  will-change: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  margin-bottom: 50px;
}

.project-page .deck > .cards {
  background-color: white;
  color: black;
  width: 45vh;
  max-width: 300px;
  height: 95vh;
  max-height: 585px;
  will-change: transform;
  border-radius: 10px;
  -webkit-box-shadow: 0 17px 15px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
          box-shadow: 0 17px 15px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 70% 20% 10%;
      grid-template-rows: 70% 20% 10%;
  text-align: center;
}

.project-page .deck > .cards .card-image-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-size: 100% 100%;
}

.project-page .deck > .cards .card-body-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 10px 12px 0;
}

.project-page .deck > .cards .card-body-container h2 {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #517ade;
}

.project-page .deck > .cards .card-body-container p {
  text-align: start;
  color: grey;
  text-transform: capitalize;
}

.project-page .deck > .cards .card-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.project-page .deck > .cards .card-btn-container > button:nth-child(1) {
  border-right: 2px solid grey;
}

.project-page .deck > .cards .card-btn-container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: 0;
  background-color: #517ade;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}

.project-page .deck > .cards .card-btn-container > *:hover {
  color: #517ade;
  cursor: pointer;
}

.about-page {
  background: black;
  width: 100%;
  height: 100%;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow: hidden;
}

.noice {
  width: 100vw;
  height: 100vh;
  background: #0e2a47;
  background: linear-gradient(225deg, #0e2a47 0%, #580e42 100%);
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */